<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Product 1 -->
            <div class="col mb-5">
                <!-- Product card -->
            </div>
            <!-- Product 2 -->
            <div class="col mb-5">
                <!-- Product card -->
            </div>
            <!-- Product 3 -->
            <div class="col mb-5">
                <!-- Product card -->
            </div>
            <!-- Product 4 -->
            <div class="col mb-5">
                <!-- Product card -->
            </div>
        </div>
    </div>
</section>
